<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c9fff0c2b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>🛒 Mercado Liebre 🐇</title>
</head>
<body>
    <!-- NAV BAR HEADER -->
<header class="main-header">
    <div class="top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <form class="nav-search" action="#" method="GET" role="search" abineguid="6D081E5A6F734D5392BBC87CD6EB39A2">
            <input value="" type="text" class="nav-search-input" name="as_word" max-length="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="3" aria-label="Ingresá lo que quieras encontrar" placeholder="Buscar productos, marcas y más…">
        </form>
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
    <a href="#" class = "hamburguer-button"> <i class="fas fa-hamburger"></i></a>
    <nav class="bottom-bar">
        <ul class="nav-left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-rigth">
            <li><a href="/views/register.html">Creá tu cuenta</a> <i class="fas fa-user-alt"></i></li>
            <li><a href="#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a> <i class="fas fa-shopping-cart"></i></li>
        </ul>
    </nav>
    
</header>
<!-- BANNER -->
<div class="slider">
    <ul>
        <li><img src="/images/img-home-banner.jpg" alt=""></li>
        <li><img src="/images/img-home-banner2.jpg" alt=""></li>
        <li><img src="/images/img-home-banner3.jpg" alt=""></li>
        <li><img src="/images/img-home-banner4.jpg" alt=""></li>
    </ul>
</div>
<!-- BANNER ORIGINAL <div>
    <img class="banner-header" src="/images/img-home-banner.jpg" alt="">
</div> -->

<!-- FORMULARIO -->

<!-- productos -->
<main>
    <section class="main-visita"> 
        <div class="title-visita"> Basado en tu última visita </div>
    <div class="container-articles">
        <article class="control-articles">
            <img class="control-img" src="/images/img-cafetera-moulinex.jpg"alt="">

        <div class="texto-articles">
            <i id="truck" class="fas fa-truck"></i>
            <h4>$6.770</h4>
            <h5>40% OFF</h5>
            <h3>Cafetera Moulinex</h3>
        </div>
        </article>

        <article class="control-articles">
            <img class="control-img" src="/images/img-macbook-pro-2019.jpg"alt="">
        <div class="texto-articles">
            <i id="truck" class="fas fa-truck"></i>
            <h4>$230.000</h4>
            <h5>20% OFF</h5>
            <h3>MacBook Pro</h3>
        </div>
        </article>

        <article class="control-articles">
            <img class="control-img" src="/images/img-samsung-galaxy-s10.jpg"alt="">
        <div class="texto-articles">
            <i id="truck" class="fas fa-truck"></i>
            <h4>$70.500</h4>
            <h5>10% OFF</h5>
            <h3>Samsung Galaxy S10</h3>
        </div>
        </article>

        <article class="control-articles">
            <img class="control-img" src="/images/img-tv-samsung-smart.jpg"alt="">
        <div class="texto-articles">
            <i id="truck" class="fas fa-truck"></i>
            <h4>$23.200</h4>
            <h5>5% OFF</h5>
            <h3>SmarTv Samsung 43"</h3>
        </div>
        </article>
    </div>
    </section>

    <section class="main-ofertas">
        <div class="title-ofertas"> Ofertas veloces </div>
        <div class="container-articles">
            <article class="control-articles">
                <img class="control-img" src="/images/img-cafetera-moulinex.jpg"alt="">
            <div class="texto-articles">
                <i id="truck" class="fas fa-truck"></i>
                <h4>$6.770</h4>
                <h5>40% OFF</h5>
                <h3>Cafetera Moulinex</h3>
            </div>
            </article>
    
            <article class="control-articles">
                <img class="control-img" src="/images/img-macbook-pro-2019.jpg"alt="">
            <div class="texto-articles">
                <i id="truck" class="fas fa-truck"></i>
                <h4>$230.000</h4>
                <h5>20% OFF</h5>
                <h3>MacBook Pro</h3>
            </div>
            </article>
    
            <article class="control-articles">
                <img class="control-img" src="/images/img-samsung-galaxy-s10.jpg"alt="">
            <div class="texto-articles">
                <i id="truck" class="fas fa-truck"></i>
                <h4>$70.500</h4>
                <h5>10% OFF</h5>
                <h3>Samsung Galaxy S10</h3>
            </div>
            </article>
    
            <article class="control-articles">
                <img class="control-img" src="/images/img-tv-samsung-smart.jpg"alt="">
            <div class="texto-articles">
                <i id="truck" class="fas fa-truck"></i>
                <h4>$23.200</h4>
                <h5>5% OFF</h5>
                <h3>SmarTv Samsung 43"</h3>
            </div>
            </article>
        </div>
        </section>
</main>
<!--FOOTER-->
<footer>
<div class="main-footer1">
    <div class="control-footer1">
        <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="control-footer2">
        <div class="icono-footer"><i class="fas fa-gift"></i></div>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrado en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>

    <div class="control-footer3">
        <div class="icono-footer"><i class="fas fa-shield-alt"></i></div>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
    </div>  
</div>
<div class="copy"> Copyright © 2021 MercadoLiebre by Turtle S.R.L. </div>    
</footer>
</html>