<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>🛒 Mercado Liebre 🐇</title>
</head>
<body>
<header>
    <div class = "container">
        <div class = "header-up">
            <a href = "#">
                <span> <img src="/images/logo-mercado-liebre.svg"> </span>
            </a>
             <!-- Barra de busqueda -->
            <div class="topnav">
            <!--  <a class="active" href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a> -->
              <input type="text" placeholder="busca tu producto">
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class = "header-down"></div>
    </div>
</header>
</body>
</html>